---
import Layout from '../layouts/Layout.astro';
import CardLunette from '../components/CardLunette.astro';
import { lunettesParUser } from "../../backend/backend.mjs";
import Lunette from "../assets/lunettes.svg"

import pb from '../../backend/backend.mjs';
const authCookie = Astro.cookies.get('pb_auth');
let user = null;

if (authCookie) {
    pb.authStore.loadFromCookie(authCookie.value);
    if (pb.authStore.isValid) {
        user = pb.authStore.model;
    }
};
if (!user) {
    return Astro.redirect('/connection');
}

const lunettes = (await lunettesParUser(user.id)).slice(0,2);
---
<Layout title=`Profil de ${user.name}`>
    <div class="flex w-full mt-34 gap-8">
        <div class="flex-1">
            <div class="flex place-items-center mb-6">
                {user.avatar 
                    ?
                    <img src={user.avatar} alt=""> 
                    
                    : 
                    <div tabindex="0"  class="btn bg-grisA btn-circle avatar">
                        <div class="w-10 rounded-full">
                            <span>{user.name.substring(0,1)}</span>
                        </div>
                    </div>
                }
                <div class="text-grisA">
                    <h2>{user.name}</h2>
                    <p>{user.email}</p>
                </div>
            </div>
            <h2 class="text-grisA mb-4">Commandes récentes</h2>
            <Lunette />
        </div>
        
        <div class="divider divider-horizontal"></div>
        
        <div class="flex-1">
            <h2 class="text-grisA mb-4">Vos lunettes sauvegardées</h2>
            {lunettes.length === 0 ?
                <h2>Aucune lunettes disponibles</h2>
                :
                <div class="grid grid-cols-2 gap-10 mb-24 mr-10">
                    {lunettes.map((lunette) => (
                        <CardLunette lunette={lunette} />
                    ))}
                </div>
            }
            <a class="btn bg-blanc text-grisA hover:bg-vert hover:text-blanc" href="/gallerie">Voir plus</a>
        </div>
    </div>
</Layout>